
.root {
    -fx-background-color: #FFF2F2;
}

.button {
    -fx-background-color: #FAD4D4;
    -fx-border-color: #EF9F9F;
    -fx-text-fill: #F47C7C;
    -fx-text-align: center;
    -fx-border-radius: 10px ;
    -fx-font-size: 12px;
    -fx-background-radius: 10px;
    -fx-opacity: 1;
}

.button:hover {-fx-opacity: 0.6}

.combo-box {

    -fx-text-align: center;
    -fx-font-size: 12px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-opacity: 1;
    -fx-background-color: #FAD4D4;
    -fx-border-color: #EF9F9F;
}

.combo-box .list-cell {


     -fx-text-fill: #F47C7C;
     -fx-border-color: #EF9F9F;


    -fx-border-width: 1px;
}

.combo-box .list-view .list-cell {

     -fx-text-fill: #F47C7C;
     -fx-background-color: #FAD4D4;



    -fx-text-alignment: center;
}

.combo-box:hover {-fx-opacity: 0.6}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #FAD4D4;
    -fx-border-color: #EF9F9F;

}

.tab:selected {
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #F47C7C;
}

.table-view {
   -fx-background-color: #FFF2F2;
}

.table-view .column-header-background{

    -fx-background-color: #FAD4D4;
    -fx-border-color: #EF9F9F;

    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;

}

.table-view .column-header {
    -fx-background-color: #FAD4D4;
}



.table-view .column-header .label {
   -fx-text-fill: #F47C7C;
}


.table-view .table-cell {
    -fx-border-color: #EF9F9F;
    -fx-background-color: #FAD4D4;
}

.table-row-cell:hover {
    -fx-font-weight: bold;
}

.root .scroll-bar .thumb {
    -fx-background-color:  linear-gradient(#F3B7B7, #FAD4D4);
}

.root .scroll-bar {
    -fx-background-color:  linear-gradient(#F3B7B7, #FAD4D4);

}

.root .scroll-bar {
    -fx-background-color: transparent;
}

.root .scroll-bar .increment-button,
.root .scroll-bar .decrement-button {
    -fx-background-color: #FAD4D4;

}
.scroll-pane .corner {
    -fx-background-color: #FFF2F2 ;
}